<script type="text/html" id="post-preview-template">
  <div class="post">
    <div class="top-area">
      <a href="#" class="avatar"><img alt="image description" data-bind="attr: { src: post.ImageUrl }"></a>
      <div class="holder">
        <h2>Post title</h2>
        <time class="date" datetime="2017-06-21">one hour ago</time>
      </div>
    </div>
    <div class="middle-area">
      <p data-bind="text: post.Text"></p>
      <a href="#"><img data-bind="attr: { src: post.ImageUrl }" alt="image description"></a>
    </div>
    <div class="bottom-area">
      <div class="rates-area">
        <strong class="rating"><i class="fa fa-star"></i><span>4.8</span></strong>
        <ul class="likes">
          <li><a href="#"><i class="fa fa-thumbs-up"></i>6 805</a></li>
          <li><a href="#"><i class="fa fa-thumbs-down"></i>597</a></li>
        </ul>
      </div>
      <a href="#" class="comments"><i class="fa fa-comments"></i>Comments</a>
    </div>
    <div class="admin-bar">
      <a href="#" class="admin-bar-opener"><i class="fa fa-cog"></i></a>
      <ul class="admin-drop">
        <li><a href="#">Up</a></li>
        <li><a href="#">Delete</a></li>
        <li><a href="#">Report</a></li>
      </ul>
    </div>
  </div>
</script>