<script type="text/html" id="post-preview-template">
  <div class="post">
    <div class="top-area">
      <a href="#" class="avatar"><img alt="image description" data-bind="attr: { src: post.ImageUrl }"></a>
      <strong class="rating"><i class="fa fa-star"></i><span>4.8</span></strong>
      <div class="holder">
        <h2>Victor Koshman</h2>
        <time class="date" datetime="2017-06-21">one hour ago</time>
      </div>
    </div>
    <div class="middle-area">
      <p data-bind="text: post.Text"></p>
      <a href="#"><img alt="image description" data-bind="attr: { src: post.ImageUrl }"></a>
    </div>
    <div class="bottom-area">
      <ul class="likes">
        <li><a data-bind="click: likePost"><i class="fa fa-thumbs-up" data-bind="text: post.LikeCount"></i></a></li>
        <li><a data-bind="click: dislikePost"><i class="fa fa-thumbs-down" data-bind="text: post.DislikeCount"></i></a></li>
      </ul>
      <a href="#" class="comments"><i class="fa fa-comments"></i>Comments</a>
    </div>
    <!-- <div class="admin-bar">
      <a href="#" class="admin-bar-opener"><i class="fa fa-cog"></i></a>
      <ul class="admin-drop">
        <li><a href="#">Up</a></li>
        <li><a href="#">Delete</a></li>
        <li><a href="#">Report</a></li>
      </ul>
    </div> -->
  </div>
</script>