<script type="text/html" id="post-preview-template">
  <article class="post">
    <header class="post-header">
      <h3 class="post-header-text" data-bind="text: post.Text"></h3>
    </header>
    <figure class="post-caption">
      <img class="post-media" alt="The Pulpit Rock" width="700" height="525" data-bind="attr: { src: post.ImageUrl }">
      <figcaption class="post-caption-data">Fig1. - The Pulpit Rock, Norway.</figcaption>
    </figure>
    <footer class="post-footer">
      <span class="post-meta">
        <a href="#" class="post-meta-link" target="_blank" data-bind="text: post.LikeCount() - post.DislikeCount(), attr: { id: 'points' + post.Id }"></a>
        <a href="#" class="post-meta-link" target="_blank" data-bind="text: post.CommentsModel().Count, attr: { id: 'comments' + post.Id }"></a>
      </span>
      <span class="post-actions">
        <button class="button post-actions-button" data-bind="click: likePost.bind($data, post)">Like</button>
        <button class="button post-actions-button" data-bind="click: dislikePost.bind($data, post)">Dislike</button>
        <button class="button post-actions-button">Comment</button>
      </span>
    </footer>
  </article>
</script>