@model dynamic

@{
  ViewBag.Title = "Kraken Main";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/PostLoader.js"></script>

<h2>Kraken Main</h2>