<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Sample page</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="shortcut icon" href="#">
	<link href="normalize.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<div class="page">
		<header class="page-header">
			<nav class="header-nav">
				<ul class="main-navigation">
					<li class="main-navigation-item">
            <a class="logo" href="#">Logo</a>
        	</li>
					<li class="main-navigation-item"><a href="#">Nav item</a></li>
					<li class="main-navigation-item main-navigation-selected"><a href="#">Nav item</a></li>
					<li class="main-navigation-item"><a href="#">Nav item</a></li>
					<li class="main-navigation-item"><a href="#">Nav item</a></li>
					<li class="main-navigation-item"><a href="#">Nav item</a></li>
				</ul>
			</nav>
		</header>
		<section class="container">
			<main class="main">
				<article class="post">
					<header class="post-header">
						<h3 class="post-header-title">Post title here</h3>
					</header>
					<figure class="post-caption">
					  <img src="images/image.jpg" class="post-media" alt="The Pulpit Rock" width="700" height="525">
					  <figcaption class="post-caption-data">Fig1. - The Pulpit Rock, Norway.</figcaption>
					</figure>
					<footer class="post-footer">
						<span class="post-meta">
							<a href="#" class="post-meta-link" target="_blank">10,525 points</a>
							<a href="#" class="post-meta-link" target="_blank">158 comments</a>
						</span>
						<span class="post-actions">
							<button class="button post-actions-button">Like</button>
							<button class="button post-actions-button">Dislike</button>
							<button class="button post-actions-button">Comment</button>
						</span>
					</footer>
				</article>
				<article class="post">
					<header class="post-header">
						<h3 class="post-header-title">Post title here</h3>
					</header>
					<figure class="post-caption">
					  <img src="images/image.jpg" class="post-media" alt="The Pulpit Rock" width="700" height="525">
					  <figcaption class="post-caption-data">Fig1. - The Pulpit Rock, Norway.</figcaption>
					</figure>
					<footer class="post-footer">
						<span class="post-meta">
							<a href="#" class="post-meta-link" target="_blank">10,525 points</a>
							<a href="#" class="post-meta-link" target="_blank">158 comments</a>
						</span>
						<span class="post-actions">
							<button class="button post-actions-button">Like</button>
							<button class="button post-actions-button">Dislike</button>
							<button class="button post-actions-button">Comment</button>
						</span>
					</footer>
				</article>
				<article class="post">
					<header class="post-header">
						<h3 class="post-header-title">Post title here</h3>
					</header>
					<figure class="post-caption">
					  <img src="images/image.jpg" class="post-media" alt="The Pulpit Rock" width="700" height="525">
					  <figcaption class="post-caption-data">Fig1. - The Pulpit Rock, Norway.</figcaption>
					</figure>
					<footer class="post-footer">
						<span class="post-meta">
							<a href="#" class="post-meta-link" target="_blank">10,525 points</a>
							<a href="#" class="post-meta-link" target="_blank">158 comments</a>
						</span>
						<span class="post-actions">
							<button class="button post-actions-button">Like</button>
							<button class="button post-actions-button">Dislike</button>
							<button class="button post-actions-button">Comment</button>
						</span>
					</footer>
				</article>
				<article class="post">
					<header class="post-header">
						<h3 class="post-header-title">Post title here</h3>
					</header>
					<figure class="post-caption">
					  <img src="images/image.jpg" class="post-media" alt="The Pulpit Rock" width="700" height="525">
					  <figcaption class="post-caption-data">Fig1. - The Pulpit Rock, Norway.</figcaption>
					</figure>
					<footer class="post-footer">
						<span class="post-meta">
							<a href="#" class="post-meta-link" target="_blank">10,525 points</a>
							<a href="#" class="post-meta-link" target="_blank">158 comments</a>
						</span>
						<span class="post-actions">
							<button class="button post-actions-button">Like</button>
							<button class="button post-actions-button">Dislike</button>
							<button class="button post-actions-button">Comment</button>
						</span>
					</footer>
				</article>
				<article class="post">
					<header class="post-header">
						<h3 class="post-header-title">Post title here</h3>
					</header>
					<figure class="post-caption">
					  <img src="images/image.jpg" class="post-media" alt="The Pulpit Rock" width="700" height="525">
					  <figcaption class="post-caption-data">Fig1. - The Pulpit Rock, Norway.</figcaption>
					</figure>
					<footer class="post-footer">
						<span class="post-meta">
							<a href="#" class="post-meta-link" target="_blank">10,525 points</a>
							<a href="#" class="post-meta-link" target="_blank">158 comments</a>
						</span>
						<span class="post-actions">
							<button class="button post-actions-button">Like</button>
							<button class="button post-actions-button">Dislike</button>
							<button class="button post-actions-button">Comment</button>
						</span>
					</footer>
				</article>
			</main>
			<aside class="aside">
				<nav class="aside-nav">
					<ul class="aside-menu">
						<li class="aside-menu-item"><a href="#">Nav item</a></li>
						<li class="aside-menu-item"><a href="#">Nav item</a></li>
						<li class="aside-menu-item"><a href="#">Nav item</a></li>
						<li class="aside-menu-item"><a href="#">Nav item</a></li>
						<li class="aside-menu-item"><a href="#">Nav item</a></li>
						<li class="aside-menu-item"><a href="#">Nav item</a></li>
					</ul>
				</nav>
				<section class="aside-content">
					<article class="aside-post">
						<a href="#" class="aside-post-link">
							<figure class="aside-post-caption">
							  <img src="images/image.jpg" class="aside-post-media" alt="The Pulpit Rock" width="700" height="525">
							  <figcaption class="aside-post-caption-text">Fig1. - The Pulpit Rock, Norway.</figcaption>
							</figure>
						</a>
					</article>
					<article class="aside-post">
						<a href="#" class="aside-post-link">
							<figure class="aside-post-caption">
							  <img src="images/image.jpg" class="aside-post-media" alt="The Pulpit Rock" width="700" height="525">
							  <figcaption class="aside-post-caption-text">Fig1. - The Pulpit Rock, Norway.</figcaption>
							</figure>
						</a>
					</article>
					<article class="aside-post">
						<a href="#" class="aside-post-link">
							<figure class="aside-post-caption">
							  <img src="images/image.jpg" class="aside-post-media" alt="The Pulpit Rock" width="700" height="525">
							  <figcaption class="aside-post-caption-text">Fig1. - The Pulpit Rock, Norway.</figcaption>
							</figure>
						</a>
					</article>
					<article class="aside-post">
						<a href="#" class="aside-post-link">
							<figure class="aside-post-caption">
							  <img src="images/image.jpg" class="aside-post-media" alt="The Pulpit Rock" width="700" height="525">
							  <figcaption class="aside-post-caption-text">Fig1. - The Pulpit Rock, Norway.</figcaption>
							</figure>
						</a>
					</article>
					<article class="aside-post">
						<a href="#" class="aside-post-link">
							<figure class="aside-post-caption">
							  <img src="images/image.jpg" class="aside-post-media" alt="The Pulpit Rock" width="700" height="525">
							  <figcaption class="aside-post-caption-text">Fig1. - The Pulpit Rock, Norway.</figcaption>
							</figure>
						</a>
					</article>
					<article class="aside-post">
						<a href="#" class="aside-post-link">
							<figure class="aside-post-caption">
							  <img src="images/image.jpg" class="aside-post-media" alt="The Pulpit Rock" width="700" height="525">
							  <figcaption class="aside-post-caption-text">Fig1. - The Pulpit Rock, Norway.</figcaption>
							</figure>
						</a>
					</article>
					<article class="aside-post">
						<a href="#" class="aside-post-link">
							<figure class="aside-post-caption">
							  <img src="images/image.jpg" class="aside-post-media" alt="The Pulpit Rock" width="700" height="525">
							  <figcaption class="aside-post-caption-text">Fig1. - The Pulpit Rock, Norway.</figcaption>
							</figure>
						</a>
					</article>
					<article class="aside-post">
						<a href="#" class="aside-post-link">
							<figure class="aside-post-caption">
							  <img src="images/image.jpg" class="aside-post-media" alt="The Pulpit Rock" width="700" height="525">
							  <figcaption class="aside-post-caption-text">Fig1. - The Pulpit Rock, Norway.</figcaption>
							</figure>
						</a>
					</article>
					<article class="aside-post">
						<a href="#" class="aside-post-link">
							<figure class="aside-post-caption">
							  <img src="images/image.jpg" class="aside-post-media" alt="The Pulpit Rock" width="700" height="525">
							  <figcaption class="aside-post-caption-text">Fig1. - The Pulpit Rock, Norway.</figcaption>
							</figure>
						</a>
					</article>
				</section>
			</aside>
		</section>
		<footer class="footer container">
			<span>Footer text 2017</span>
		</footer>
	</div>
</body>
</html>
