<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>yourHarbor - Fun Anchors Here</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <link media="all" rel="stylesheet" href="~/Style/css/font-awesome.min.css">
  <link media="all" rel="stylesheet" href="~/Style/css/jquery.fancybox.min.css">
  <link media="all" rel="stylesheet" href="~/Style/css/animate.css">
  <link media="all" rel="stylesheet" href="~/Style/css/slick.css">
  <link media="all" rel="stylesheet" href="~/Style/css/main.css">
</head>
<body>
  <div id="wrapper">
    <header id="header">
      <div class="logo"><a href="#">LOGO</a></div>
      <form action="#" class="search-form">
        <a href="#" class="search-opener"><i class="fa fa-search"></i></a>
        <div class="slide">
          <input type="text" placeholder="Search">
          <button class="btn-search" type="submit">Search</button>
        </div>
      </form>
      <a href="#" class="btn-add-post"><span class="ico">+</span><span class="text">ADD POST</span></a>
      <div class="profile-menu">
        <a href="#" class="menu-opener">
          <span class="name">Viktor</span>
          <span class="ava"><img src="images/avatar01.jpg" alt="image description"></span>
        </a>
        <div class="drop">
          <ul>
            <li><a href="#">My Page</a></li>
          </ul>
          <ul>
            <li><a href="#">Edit</a></li>
            <li><a href="#">Setings</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <ul>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="navbar">
      <a href="#" class="sidebar-opener">
        <span class="burger"><span>Menu</span></span>
        <span class="title">Categories</span>
      </a>
      <a href="#" class="widget-opener">
        <span class="title">Widgets</span>
        <span class="burger"><span>Menu</span></span>
      </a>
    </div>
    <div class="main">
      <div class="two-cols">
        <div class="aside-col">
          <div class="widget">
            <h2>Widget title</h2>
            <ul>
              <li><a href="#"><i class="fa fa-home"></i> link</a></li>
              <li><a href="#"><i class="fa fa-home"></i> link</a></li>
            </ul>
          </div>
          <div class="widget widget-banner">
            <a href="#"><img src="images/banner01.jpg" alt="image description"></a>
          </div>
        </div>
        <div class="main-col">
          @RenderBody()
        </div>
        <div class="banners-bar">
          <div class="col">
            <div class="banner">
              <a href="#"><img src="images/banner01.jpg" alt="image description"></a>
            </div>
          </div>
          <div class="col">
            <div class="banner">
              <a href="#"><img src="images/banner01.jpg" alt="image description"></a>
            </div>
          </div>
          <div class="col">
            <div class="banner">
              <a href="#"><img src="images/banner01.jpg" alt="image description"></a>
            </div>
          </div>
          <div class="col">
            <div class="banner">
              <a href="#"><img src="images/banner01.jpg" alt="image description"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="~/Scripts/jQuery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="~/Scripts/jQuery/jquery.fancybox.min.js"></script>
  <script type="text/javascript" src="~/Scripts/jQuery/slick.min.js"></script>
  <script type="text/javascript" src="~/Scripts/jQuery/jquery.main.js" defer></script>
</body>
</html>